---
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}e>
	<h2>My Cooking Blog!</h2>
</BaseLayout>